<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (order(); as orderRef) {
      <div>
        <h2 data-cy="orderDetailsHeading"><span>Order</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ orderRef.id }}</span>
          </dd>
          <dt><span>Customer Id</span></dt>
          <dd>
            <span>{{ orderRef.customerId }}</span>
          </dd>
          <dt><span>Total Amount</span></dt>
          <dd>
            <span>{{ orderRef.totalAmount }}</span>
          </dd>
          <dt><span>Created On</span></dt>
          <dd>
            <span>{{ orderRef.createdOn | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/ecommerceorder2/order', orderRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
